<main role="main" class="container">

<div class="starter-template">
    <h1>Stateful</h1>
    <p class="lead">Ejemplo de componete stateful.</p>

    <div class="card-deck">
        <div class="card" *ngFor="let curso of shopModel.shopItems">
            <app-stateless 
                [product]="curso"
                (cursomatriculado)="cursoMatriculado($event)">
            </app-stateless>
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of boughtItems">{{item.title}} - <span>{{item.price | currency:"&euro;"}}</span></li>
        <li class="list-group-item" *ngIf="totalPrice"><h2>Precio total: {{totalPrice | currency:"&euro;"}}</h2></li>
    </ul>

</div>
</main><!-- /.container -->